<template name="settings">
 <header class="intro-header">
     <div class="container">
         <div class="row">
             <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                 <div class="page-heading">
                     <h1>Settings</h1>
                     <hr class="small">
                     <span class="subheading">Adjust user and blog settings to meet your needs</span>
                 </div>
             </div>
         </div>
     </div>
 </header>

 <!-- Main Content -->
 <div id="settings-container" class="container">
     <div class="row">
         <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

           <!-- Account info -->
            <h2>Account</h2>
            <table class="table table-striped table-condensed">
                   <thead>
                   <tr>
                       <th>Username</th>
                       <th>Author Name</th>
                       <th></th>
                   </tr>
               </thead>
               <tbody>
                 <tr>
                     <td>{{username}}</td>
                     <td>{{authorName}}</td>
                     <td>
                         <a href=""><span class="label label-info">edit</span></a>
                         <a href=""><span class="label label-info">change password</span></a>
                     </td>
                 </tr>
               </tbody>
             </table>
             <!-- End Account Info-->

             <!-- Blog info -->
             <h2>Blog</h2>
             <table class="table table-striped table-condensed">
               <thead>
                 <tr>
                   <th>Blog Title</th>
                   <th>Preview Length</th>
                   <th>Preview Limit</th>
                   <th></th>
                 </tr>
               </thead>
               <tbody>
                 <tr>
                   <td>{{blogSettings.blogTitle}}</td>
                   <td>{{blogSettings.previewLength}}</td>
                   <td>{{blogSettings.previewLimit}}</td>
                   <td>
                       <a href=""><span class="label label-info">edit</span></a>
                   </td>
                 </tr>
               </tbody>
             </table>
             <!--End blog info -->

             <!-- Headlines info -->
             <h2>Headlines</h2>
             <table class="table table-striped table-condensed">
               <thead>
                 <tr>
                   <th>Page</th>
                   <th>Headline</th>
                   <th>subheadline</th>
                   <th></th>
                 </tr>
               </thead>
               <tbody>
                 <tr>
                   <td>Home</td>
                   <td>{{homeSettings.headline}}</td>
                   <td>{{homeSettings.subHeadline}}</td>
                   <td>
                       <a href=""><span class="label label-info">edit</span></a>
                   </td>
                 </tr>
                 <tr>
                   <td>About</td>
                   <td>{{aboutSettings.headline}}</td>
                   <td>{{aboutSettings.subHeadline}}</td>
                   <td>
                       <a href=""><span class="label label-info">edit</span></a>
                   </td>
                 </tr>
                 <tr>
                   <td>Contact</td>
                   <td>{{contactSettings.headline}}</td>
                   <td>{{contactSettings.subHeadline}}</td>
                   <td>
                       <a href=""><span class="label label-info">edit</span></a>
                   </td>
                 </tr>
               </tbody>
             </table>
             <!--End Headlines info -->

             <!--Social links -->
             <h2>Social Icons</h2>
             <table class="table table-striped table-condensed">
               <thead>
                 <tr>
                   <th>Site</th>
                   <th>Link</th>
                     <th><a href=""><span id="newSocialLink" class="label label-info">Add new site</span></a></th>
                 </tr>
               </thead>
               <tbody>
                 {{#each socialIcons}}
                 <tr>
                   <td>{{site}}</td>
                   <td>{{link}}</td>
                   <td>
                       <a href=""><span class="label label-info">edit</span></a>
                   </td>
                 </tr>
                 {{/each}}
               </tbody>
             </table>
             <!--End Social links -->

             <!-- Contact Info -->
             <h2>Contact</h2>
             <table class="table table-striped table-condensed">
               <thead>
                 <tr>
                   <th>Email Address</th>
                   <th></th>
                 </tr>
               </thead>
               <tbody>
                 <tr>
                    <td>{{email}}</td>
                    <td>
                        <a href=""><span class="label label-info">edit</span></a>
                    </td>
                  </tr>
               </tbody>
             </table>
             <!-- End contact info-->

         </div>
     </div>
 </div>
 <hr>
</template>
